window#waybar {
  background: #282828;
  color: #ebdbb2;
}

#workspaces button {
  color: #ebdbb2;
  padding: 0 8px;
  margin: 4px 2px;
  border-radius: 6px;
  background: transparent;
}

#workspaces button.active {
  background: #458588;
  color: #fbf1c7;
}

#window,
#clock,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#custom-power {
  padding: 0 10px;
  margin: 4px 4px;
  border-radius: 6px;
  background: #3c3836;
}

#custom-power {
  color: #fb4934;
  font-weight: bold;
}

#custom-power:hover {
  background: #fb4934;
  color: #282828;
}

#network:hover,
#clock:hover,
#pulseaudio:hover {
  background: #504945;
}